# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
.next/
node_modules/

# development
server/server.crt
server/server.key

# testing


# production
build/

# misc
.env
.DS_Store
.env.production
npm-debug.log*

# notes

business/
